<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Audio Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="orange" expand="block" [routerLink]="['./recorder']">
          <ion-icon slot="start" name="add"></ion-icon>Recorder
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="orange" expand="block">
          <ion-icon slot="start" name="add"></ion-icon>Transcription
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-searchbar></ion-searchbar>
    </ion-row>
    <ion-row>
      <ion-list>
        <ion-item *ngFor="let audio of recordService.audioList; index as i;" expand="block">
          <p>{{audio.filename}}</p>
          <button slot="end" ion-button clear item-end large (click)="recordService.playAudio(audio.filename, i)">
            <ion-icon name="play"></ion-icon>
          </button>
          <p>{{audio.fileDuration}}</p>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>